
<nav class='navbar navbar-default navbar-fixed-top navcustom'>
  <div class='container navcustom'>
  <a href='/' class='navbar-brand navcustom'>Taskr</a>
  <ul class='nav navbar-nav navcustom'>
    <li><a href="/tasks">Task Index</a></li>
    <li><a href="/tasks/new">New Task</a></li>
  </ul>
</div>
</nav>

<div>
  <h1><%= @task.title %></h1>
  <p><%= @task.description %></p>
  <A HREF ="/tasks/<%= @task.id %>/edit">Edit</A>
  <form action="/tasks/<%= @task.id %>" method="post">
    <input type="hidden"  name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
</div>
